[Unit]
Description=Quickshell (bar, notifications, launcher)
Documentation=https://quickshell.org
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
# The sway config in ~/.config/quickshell/sway/
ExecStart=/usr/bin/qs -c sway
Restart=on-failure
RestartSec=2

[Install]
WantedBy=sway-session.target
